# Strings and Boolean

In [21]:
my_name = "Masabumair"

In [22]:
my_name.isalnum()

True

In [23]:
my_name.istitle()

True

In [24]:
my_name.isalpha()

True

# Lists

In [25]:
lst = ["Masab", 100, 200, "Umair"]

In [26]:
type(lst)

list

In [27]:
lst.append(300)

In [28]:
lst

['Masab', 100, 200, 'Umair', 300]

In [29]:
lst.append(["Saad",5])

In [30]:
lst

['Masab', 100, 200, 'Umair', 300, ['Saad', 5]]

In [33]:
lst[5][0]

'Saad'

In [34]:
lst

['Masab', 100, 200, 'Umair', 300, ['Saad', 5]]

In [35]:
lst.insert(1,700)

In [36]:
lst

['Masab', 700, 100, 200, 'Umair', 300, ['Saad', 5]]

In [37]:
lst.extend(["zain",123])

In [38]:
lst

['Masab', 700, 100, 200, 'Umair', 300, ['Saad', 5], 'zain', 123]

# Sets
Set has no duplicate elements and is unordered

In [4]:
set_var = {1,2,3,4,5,5,6,3,"Masab"}

In [5]:
 set_var

{1, 2, 3, 4, 5, 6, 'Masab'}

In [6]:
set_var2 = {"Avengers","Fast and Furious","Tenet"}

In [7]:
set_var2.add("Captain America")

In [8]:
set_var2

{'Avengers', 'Captain America', 'Fast and Furious', 'Tenet'}

In [21]:
set1 = {1,2,3,4,1,8,2}

In [22]:
set2 = {6,8,1,5,0,3}

In [23]:
set2.difference(set1)

{0, 5, 6}

In [24]:
set2.difference_update(set1)

In [25]:
set2

{0, 5, 6}

# Dictionaries

In [26]:
dict1 = {"Car1":"Audi", "Car2":"BMW","Car3":"Civic"}

In [27]:
print(dict1)

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Civic'}

In [28]:
dict1["Car2"]

'BMW'

In [29]:
for x in dict1:
    print(x)

Car1
Car2
Car3

In [30]:
for x in dict1.values():
    print(x)

Audi
BMW
Civic

In [35]:
for x in dict1.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Civic')

In [36]:
for x,y in dict1.items():
    print(x,y)

Car1 Audi
Car2 BMW
Car3 Civic

In [37]:
dict1["Car4"] = "Tundra"

In [38]:
dict1

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Civic', 'Car4': 'Tundra'}

# Nested Dictionaries

In [39]:
car1 = {"Civic":"2020"}
car2 = {"Cultus":"2019"}
car3 = {"Toyota":"2018"}

In [40]:
cars = {"Car1":car1,"Car2":car2,"Car3":car3}

In [41]:
cars

{'Car1': {'Civic': '2020'},
 'Car2': {'Cultus': '2019'},
 'Car3': {'Toyota': '2018'}}

In [42]:
cars['Car1']["Civic"]

'2020'

# Tuples

In [43]:
tuple1 = ("Masab","Umair","Saad","Zain")

In [44]:
tuple1

('Masab', 'Umair', 'Saad', 'Zain')

In [46]:
tuple1[2]

'Saad'